<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johnny Sin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/img/favicon.ico" rel="icon">
  <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio - v4.10.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="./static/img/favicon.ico" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use an text logo -->
      <h1 class="logo-text"><a href="index.html">by Johnny Sin</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="about-me.html">About Me Page</a></li>
              <li><a href="my-courses.html">Relevant Courses</a></li>
            </ul>
          <li><a class="nav-link  scrollto" href="index.html##portfolio">Portfolio</a></li>
          <li class="dropdown"><a href="#"><span>Current Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Machine Learning Tools</span> <i
                    class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="datascienceworkflow.html">Data Science Case Study</a></li>
                  <li><a href="proteinanalysis.html">Predictive Protein Analysis</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Deep Learning Applications</span> <i
                class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="whitematterdetection.html" target="_blank">Multiclass Brain Detection</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="container-main single-main">
                <div class="col-md-12">
                  <div class="block-main mb-30" align="center">
                    <!-- <img src="static/img/portfolio/aboutme_1.jpeg" class="img-fluid" alt="reviews2"> -->
                    <div class="content-main single-post padDiv">
                      <div class="journal-txt">
                        <h4><a href="#">Who Am I</a></h4>
                      </div>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">just a bit more about my experiences</li>
                        </ul>
                      </div>
                      <p class="mb-30">Greetings! My name is Johnny Sin, I was born in South Korea then spent my childhood in LA. 
                        Throughout my high school I was part of the Palos Verdes Institute of Technology, which sparked my passion for engineering. 
                        Later, I joined a Cell Signaling Proteomics group at UCLA which made me want to learn more about the human body and how I can improve lives with the technologies that I want to build.
                        So, I graduated UC Berkeley with a degree in Molecular and Cell Biology, and during my time in college, I tried to create a start-up with my friends. 
                        As the product engineer, my job was to build the architecture for the device that would ultimately harvest stem cells non-invasively using Autodesk Maya.</p>
                      <p class="mb-30">Immediately after, I worked in a neuroscience lab studying multiple sclerosis in patients for four years then moved to industry.
                        Working with patients through visual examinations and tests, I saw how important the accuracy in data analysis needs to be.
                        Currently I am working at Alkahest to study age-related neurological diseases, essentially searching for the “fountain of youth”. 
                        Throughout my career, I trained as a researcher with more than five years of experience analyzing large clinical and experimental data.
                        The most fun I had during my work was discovering an unexpected story hidden in the mountains of biological data.
                        Creatively executing statistical tests to model neurological disease was the part of my job that I truly enjoyed.
                        Although working full-time, I enrolled in classes to further hone my programming skills, and currently, machine learning occupy the majority of my free time.
                        Juggling between work and classes, I love creating digital animations to provide my students, patients, and fellow colleagues a more immersive learning experience and using graphic design to create T-shirts and logos!</p>
                      <p class="mb-30"> Here my recent <a href="https://pubmed.ncbi.nlm.nih.gov/35678509/" target="_blank">project </a>that I published, and in this <a href="https://pubmed.ncbi.nlm.nih.gov/34100385/" target="_blank">paper</a> you can see the figure that I designed!
                        I am currently working on another publication and a patent! Hopefully I get to share them here soon!<br><br>GO BEARS!</p>
                        <center>
                          <img src="static/img/cal_logo.jpeg" alt="" class="img-responsive" style="width:200px;height:200px;">
                        </center>
                        <br>
                        <br>
                        <div>
                          <p class="mb-30" align="center">

                            If you are curious about my self-taught journey into programming! This here lists a compiled list of courses that I have took so far, currently taking, and will take!
                            If interested please check this out! <a href='my-courses.html'>Click Here! 
                          </p>


                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Single -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://github.com/johnnys7n" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://www.kaggle.com/js7n95" target="_blank"><i class="fab fa-kaggle"></i></a></li>
          <li><a href="https://www.linkedin.com/in/johnnysin/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>


    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/vendor/typed.js/typed.min.js"></script>
  <script src="./static/vendor/php-email-form/validate.js"></script>
  <script src="https://kit.fontawesome.com/6a521ae56d.js" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="./static/js/main.js"></script>

</body>

</html>