<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johnny Sin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/img/favicon.ico" rel="icon">
  <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio - v4.10.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="./static/img/favicon.ico" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use an text logo -->
      <h1 class="logo-text"><a href="index.html">by Johnny Sin</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="about-me.html">About Me Page</a></li>
              <li><a href="my-courses.html">Relevant Courses</a></li>
            </ul>          <li><a class="nav-link  scrollto" href="index.html##portfolio">Portfolio</a></li>
          <li class="dropdown"><a href="#"><span>Current Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Machine Learning Tools</span> <i
                    class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="datascienceworkflow.html">Data Science Case Study</a></li>
                  <li><a href="proteinanalysis.html">Predictive Protein Analysis</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Deep Learning Applications</span> <i
                class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="whitematterdetection.html" target="_blank">Multiclass Brain Detection</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="container-main single-main">
                <div class="col-md-12">
                  <div class="block-main mb-30" align="center">
                    <!-- <img src="static/img/portfolio/aboutme_1.jpeg" class="img-fluid" alt="reviews2"> -->
                    <div class="content-main single-post padDiv">
                      <div class="journal-txt">
                        <h4><a href="#">My Self Taught Journey:</a></h4>
                      </div>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">List of Courses Completed and Ongoing!</li>
                        </ul>
                      </div>
                      <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Platform</th>
                                <th>Curated By</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr class="active-row">
                                <td>Machine Learning Specialization</td>
                                <td>Coursera</td>
                                <td>DeepLearning.Ai, Stanford University</td>
                                <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>R Programming</td>
                              <td>Coursera</td>
                              <td>Johns Hopkins University</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Cluster Analysis and Unsupervised Machine Learning</td>
                              <td>udemy</td>
                              <td>Lazy Programmer Team</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Complete Python Developer</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Learn ETL using SSIS</td>
                              <td>udemy</td>
                              <td></td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>The Complete SQL Bootcamp</td>
                              <td>udemy</td>
                              <td>Jose Portilla</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Python Data Structures and Algorithms</td>
                              <td>udemy</td>
                              <td>Scott Barrett</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Data Warehouse: The Ultimate Guide</td>
                              <td>udemy</td>
                              <td>Lazy Programmer Team</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Math for Data Science Master Class</td>
                              <td>udemy</td>
                              <td>Jose Portilla</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>The Data Analyst Course: Complete Data Analyst Bootcamp</td>
                              <td>udemy</td>
                              <td>365 Careers</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Complete Machine Learning and Data Science Bootcamp</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>TensorFlow Developer Certificate</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Business Analysis Fundamentals</td>
                              <td>udemy</td>
                              <td>The BA Guide</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Google Data Analytics Certificate</td>
                              <td>Coursera</td>
                              <td>Google</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Learn Bioinformatics From Scratch (Theory and Practical)</td>
                              <td>udemy</td>
                              <td></td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Automate Everything with Python</td>
                              <td>udemy</td>
                              <td>Ardit Sulce</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="active-row">
                              <td>Cloud Data Engineer Professional Certificate</td>
                              <td>Coursera</td>
                              <td>Google</td>
                              <td>Completed</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Programming in C++: Hands On Introduction</td>
                              <td>Coursera</td>
                              <td>Codio</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Beginning C++ Programming: From Beginner to Beyond</td>
                              <td>udemy</td>
                              <td></td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Unsupervised Deep Learning in Python</td>
                              <td>udemy</td>
                              <td>Lazy Programmer Inc.</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Machine Learning: Natural Language Processing in Python</td>
                              <td>udemy</td>
                              <td>Lazy Programmer Inc.</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>PyTorch for Deep Learning</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Django and Python Full Stack Developer Masterclass</td>
                              <td>udemy</td>
                              <td>Jose Portilla Ninja</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Business Process Modeling with UML Activity Diagrams and BPMN</td>
                              <td>udemy</td>
                              <td>Transforming Ninja</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>The Complete MongoDB Developer Guide</td>
                              <td>udemy</td>
                              <td>Academind</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Docker Master with Kubernetes and Swarm</td>
                              <td>udemy</td>
                              <td>Docker Captain Program</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>TensorFlow 2.0: Deep Learning and Artificial Intelligence</td>
                              <td>udemy</td>
                              <td>Lazy Programmer Inc.</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>The Ultimate Hands-On Hadoop: Tame Your Big Data</td>
                              <td>udemy</td>
                              <td>Sundog Education</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Complete Tableau Bootcamp for Data Visualization</td>
                              <td>udemy</td>
                              <td>Jose Portilla</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>R Pogramming: Advanced Analytics in R for Data Science</td>
                              <td>udemy</td>
                              <td>SuperDataScience Team</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>50 Hours of Big Data, PySpark, AWS, Scala, and Scraping</td>
                              <td>udemy</td>
                              <td>AI Sciences Team</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>NLP: Natural Language Processing with Python</td>
                              <td>udemy</td>
                              <td>Jose Portilla</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>AWS Certified Cloud Practicioner</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Complete Node.JS Developer</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>JavaScript: The Advanced Concepts</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Ongoing</td>
                            </tr>
                            <tr class="inactive-row">
                              <td>Complete Web Developer</td>
                              <td>udemy</td>
                              <td>ZTM</td>
                              <td>Ongoing</td>
                            </tr>


                        </tbody>
                    </table>
                    <div>
                      <h4 align="center"> List of Complete Lecture Series</h4>
                      <table class="styled-table">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Name of Series</th>
                                <th>Presenters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="lectures-row">
                                <td>Harvard University</td>
                                <td>CS50</td>
                                <td>David J Malan</td>
                            </tr>
                            <tr class="lectures-row">
                              <td>MIT</td>
                              <td>MIT 6.S191</td>
                              <td>Alexander Amini</td>
                          </tr>
                          <tr class="lectures-row">
                            <td>Stanford University</td>
                            <td>Stanford Online</td>
                            <td>Andrew Ng</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Single -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://github.com/johnnys7n" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://www.kaggle.com/js7n95" target="_blank"><i class="fab fa-kaggle"></i></a></li>
          <li><a href="https://www.linkedin.com/in/johnnysin/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>


    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/vendor/typed.js/typed.min.js"></script>
  <script src="./static/vendor/php-email-form/validate.js"></script>
  <script src="https://kit.fontawesome.com/6a521ae56d.js" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="./static/js/main.js"></script>

</body>

</html>