<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johnny Sin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/img/favicon.ico" rel="icon">
  <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio - v4.10.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center justify-content-between">
  
        <a href="index.html" class="logo"><img src="./static/img/favicon.ico" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <h1 class="logo-text"><a href="index.html">by Johnny Sin</a></h1>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="./static/img/favicon.ico" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use an text logo -->
      <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="about-me.html">About</a></li>
          <li><a class="nav-link  scrollto" href="index.html##portfolio">Portfolio</a></li>
          <li class="dropdown"><a href="#"><span>Current Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Machine Learning Tools</span> <i
                    class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="datascienceworkflow.html">Data Science Case Study</a></li>
                  <li><a href="proteinanalysis.html">Predictive Protein Analysis</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Computer Vision Applications</span> <i
                    class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="whitematterdetection.html" target="_blank">Multiclass Brain Detection</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="./static/img/portfolio/cv_homepage.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./static/img/portfolio/brain_myelin_image.webp" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./static/img/portfolio/whitematter1.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>White Matter Change Detection</h3>
              <ul>
                <li><strong>Category</strong>: Computer Vision</li>
                <li><strong>Client</strong>: Alkahest, Inc</li>
                <li><strong>Project date</strong>: 12 January, 2023</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Introduction</h2>
              <p>
                The problem that I see while working in neurological research is this state of constant
                bias, whether it's selection bias or sampling bias. Due to the complexities and near undetectable, but
                significant,
                changes in central nervous system processes, it is very necessary to automate the region selection.
                This tool is just one of the possible ways to minimize human-data interaction by having a system choose
                the parts of the brain that is "interesting". <br>
                The visual differences in white matter histological staining (in other words, images under the
                microscope)
                is not strong enough to be detected by human eye. By adding in
                a non-biased computer vision process we can automate the ROIs
                that may be important to look during certain neurodegenerative states.
                <br> 
                I am currently investigating the use of a multi-class classification algorithm using TensorFlow/Keras by Transfer Learning from Tensorhub's 
                Mobilenet_v2. Hopefully with this mult-class labeler, I can identify brains with similar structure to a model with a certain indication of 
                interest. The model optimization process is currently undergoing as data is still being collected and labeled.
                <br>
                Histological brain image by: <a href="https://www.nature.com/articles/s41598-021-92995-2"
                  target="_blank">link</a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

    <!-- ======= Footer ======= -->
    <div id="footer" class="text-center">
      <div class="container">
        <div class="socials-media text-center">

          <ul class="list-unstyled">
            <li><a href="https://github.com/johnnys7n" target="_blank"><i class="bi bi-github"></i></a></li>
            <li><a href="https://www.kaggle.com/js7n95" target="_blank"><i class="fab fa-kaggle"></i></a></li>
            <li><a href="https://www.linkedin.com/in/johnnysin/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          </ul>

        </div>


      </div>
    </div><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./static/vendor/typed.js/typed.min.js"></script>
    <script src="./static/vendor/php-email-form/validate.js"></script>
    <script src="https://kit.fontawesome.com/6a521ae56d.js" crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="./static/js/main.js"></script>

</body>

</html>